body {
    background-color: #1E1E1E;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

#container {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBarContainer {
    text-align: center;
    position: relative;
}

#searchBar {
    display: inline-block;
    background-color: #36373A;
    width: 90%;
    margin-top: 15px;
    padding: 5px 5px 5px 25px;
    border: 0px #36373A solid;
    border-radius: 15px;
    color: lightgray;
}

#searchBar:focus {
    outline: none;
}

#clearIcon {
    all: unset;
    cursor: pointer;
    color: lightgray;
    position: absolute;
    right: 5%;
    top: 48%;
}

#buildsListContainer {
    position: relative;
    width: 92.5%;
    margin-top: 15px;
    margin-left: 3.8%;
}

#buildsListTable {
    width: 100%;
}

.buildsListTableHeader {
    background-color: black;
    height: 30px;
    color: lightgray;
    font-weight: normal;
}

.buildsListTableCell {
    background-color: #2F2F2F;
    height: 43px;
    padding: 0 10px 0 10px;
    margin-bottom: 2px;
    text-align: center;
    color: lightgray;
    border-bottom: 4px solid #1E1E1E;
}

.buildsListTableCell:nth-child(4) {
    color: #F16522;
}

/* Details page */

#detailspage {
    display: none;
    visibility: hidden;
}

#detailspageContentContainer {
    position: relative;
    width: 92.5%;
    margin-top: 8px;
    margin-left: 3.8%;
}

#projectHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#projectName {
    color: #F16522;
    font-size: 24px;
}

#timestamp {
    color: lightgray;
    font-size: 15px;
}

#artifactsTableHeader {
    background-color: black;
    height: 30px;
    color: lightgray;
    font-weight: normal;
}

#detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#metadataContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#metadataDataContainer {
    margin-left: 40px;
}

#metadataTable {
    border-collapse: collapse;
    border-spacing: 0;
}

.metadataTag {
    color: #F16522;
    font-size: 15px;
}

.metadataData {
    color: lightgray;
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
}

#artifactsContainer {
    float: right;
    width: 500px;
}

#artifactsTable {
    width: 100%;
}

.artifact {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2F2F2F;
    height: 43px;
    margin-bottom: 2px;
    text-align: center;
    color: lightgray;
    border-bottom: 4px solid #1E1E1E;
}

#fileLocationContainer {
    background-color: black;
    opacity: 50%;
    min-height: 30px;
    overflow: hidden;
    margin-top: -4px;
    display: flex;
    align-items: center;
}

#folderIcon {
    color: lightgray;
    margin-left: 8px;
}

#artifactsLocation {
    color: lightgray;
    margin-left: 8px;
    font-size: 14px;
}